@font-face {
  font-family: "icont-basic"; /* Project id 3829389 */
  src: 
       
       url('/static/icont-basic/iconfont.ttf?t=1714635812418') format('truetype');
}

.icont-basic {
  font-family: "icont-basic" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icont-basic-file-config-fill:before {
  content: "\e60f";
}

.icont-basic-file-link-fill:before {
  content: "\e61a";
}

.icont-basic-file-edit-fill:before {
  content: "\e60b";
}

.icont-basic-file-search-fill:before {
  content: "\e60e";
}

.icont-basic-file-add-fill:before {
  content: "\e60d";
}

.icont-basic-file-search-line:before {
  content: "\e610";
}

.icont-basic-file-add-line:before {
  content: "\e612";
}

.icont-basic-file-edit-line:before {
  content: "\e613";
}

.icont-basic-file-config-line:before {
  content: "\e614";
}

.icont-basic-file-link-line:before {
  content: "\e619";
}

.icont-basic-csr-smily-fill:before {
  content: "\e603";
}

.icont-basic-headphone-fill:before {
  content: "\e68b";
}

.icont-basic-csr-fill:before {
  content: "\e62d";
}

.icont-basic-kaobei:before {
  content: "\e655";
}

.icont-basic-copy-fill:before {
  content: "\ef86";
}

.icont-basic-copy-line:before {
  content: "\e816";
}

.icont-basic-headphone-line:before {
  content: "\e88f";
}

.icont-basic-headphone-fill2:before {
  content: "\e60c";
}

.icont-basic-coins-fill:before {
  content: "\e601";
}

.icont-basic-fensizengchang-1:before {
  content: "\e61f";
}

.icont-basic-bankcoins:before {
  content: "\e73b";
}

.icont-basic-cryptocoins:before {
  content: "\e638";
}

.icont-basic-creditcards-fill:before {
  content: "\e602";
}

.icont-basic-csr-all:before {
  content: "\e61e";
}

.icont-basic-clock:before {
  content: "\e819";
}

.icont-basic-hyperlink:before {
  content: "\e636";
}

.icont-basic-person:before {
  content: "\e641";
}

.icont-basic-coins:before {
  content: "\e608";
}

.icont-basic-fensix:before {
  content: "\e607";
}

.icont-basic-followee:before {
  content: "\e618";
}

.icont-basic-wodefensi:before {
  content: "\e7d3";
}

.icont-basic-stock:before {
  content: "\e8f2";
}

.icont-basic-follower:before {
  content: "\e6cf";
}

.icont-basic-stock-fill:before {
  content: "\e629";
}

.icont-basic-stock-candle-fill:before {
  content: "\e790";
}

.icont-basic-kyc-fill:before {
  content: "\e69a";
}

.icont-basic-wodefensi1:before {
  content: "\e634";
}

.icont-basic-compass-fill:before {
  content: "\e622";
}

.icont-basic-stock-candle:before {
  content: "\e79d";
}

.icont-basic-shequn:before {
  content: "\e67a";
}

.icont-basic-shequnguanli:before {
  content: "\e63e";
}

.icont-basic-discover:before {
  content: "\e611";
}

.icont-basic-discover-fill:before {
  content: "\e6a0";
}

.icont-basic-fensi:before {
  content: "\e654";
}

.icont-basic-quota:before {
  content: "\e633";
}

.icont-basic-multilang:before {
  content: "\e606";
}

.icont-basic-langswitch:before {
  content: "\e8fa";
}

.icont-basic-camera:before {
  content: "\e620";
}

